#fm-content table.dataTable thead tr:nth-child(2) input,
#fm-content table.dataTable thead tr:nth-child(2) select
{
	width:100%;
	min-width:40px;
}
#fm-content label div{
	display:inline-block;
}
#fm-content .date-wrapper{
	position:relative;
	box-shadow:2px 2px 5px inset #666;
	padding:2px 5px;
}
#fm-customer-portal{
	min-height:500px;
}
#fm-customer-portal+a{
	font-size:8px;
	opacity:.3;
}
#fm-content{
	background:#fff;
	border:1px solid #000;
	margin-top:-1px;
	padding;5px 0;
}
#fm-menu ul.fm-nav{
	list-style:none;
	padding:0;
	margin:0;
}
#fm-menu ul.fm-nav li{
	list-style:none;
	padding:0;
	margin:0;
	display:inline-block;
}
#fm-menu ul.fm-nav a{
	display:block;
	padding:2px 5px;
	text-decoration:none;
	border:1px solid #000;
	border-radius:5px 5px 0 0;
}
#fm-menu ul.fm-nav li::before{
	display:none;
}
#fm-menu ul.fm-nav a.fm-selected{
	border-bottom:1px solid #fff;
	font-weight:bold;
}
.ui-widget{
	background:rgba(255,255,255,.9);
	box-shadow:0 0 5px #666;
}
.ui-dialog-titlebar button{
	float:right;
}
#fm-bar button{
	float:right;
}
