#fm-content table.dataTable thead tr:nth-child(2) input,
#fm-content table.dataTable thead tr:nth-child(2) select
{
	width:100%;
	min-width:40px;
}
#fm-content div.dataTables_length> label > select{
	min-width:100px;
}
.fm-job-dates{
	font-size:x-small;
}
#fm-content label div{
	display:inline-block;
}
#fm-content .date-wrapper{
	position:relative;
	box-shadow:2px 2px 5px inset #666;
	padding:2px 5px;
}
#fm-customer-portal{
	min-height:500px;
	padding:1em;
}
#fm-customer-portal+a{
	font-size:8px;
	opacity:.3;
}
#fm-content{
	background:rgba(255,255,255,0.8);
	border:1px solid #000;
	margin-top:-1px;
	padding;5px 0;
}
#fm-menu ul.fm-nav{
	list-style:none;
	padding:0;
	margin:0;
}
#fm-menu ul.fm-nav li{
	list-style:none;
	padding:0;
	margin:0;
	display:inline-block;
	background:rgba(255,255,255,0.8);
}
#fm-menu ul.fm-nav a{
	display:block;
	padding:2px 5px;
	text-decoration:none;
	border:1px solid #000;
	border-radius:5px 5px 0 0;
}
#fm-menu ul.fm-nav li::before{
	display:none;
}
#fm-menu ul.fm-nav a.fm-selected{
	border-bottom:1px solid #fff;
	font-weight:bold;
}
.fm-bar{
	margin-bottom:1em;
}
.fm-bar label{
	display:inline-block;
	margin-right:15px;

}
.fm-bar button{
	float:right;
	margin-right:15px;
}
.ui-widget{
	background:rgba(255,255,255,.9);
	box-shadow:0 0 5px #666;
}
.ui-dialog-titlebar button{
	float:right;
}
#fm-popup-job-new input,#fm-popup-job-new select,#fm-popup-job-new textarea{
	width:100%;
}
#fm-popup-job-new textarea{
	min-height:64px;
}
.dataTables_filter{
	margin-right:1em;
}
.fm-small{
	font-size:small;
}
.fm-dialog-shader{
	position:absolute;
	background:rgba(255, 255, 255, .7);
	left:0;
	top:0;
	right:0;
	bottom:0;
}
.fm-dialog{
	position:relative;
	width:80%;
	margin:0 auto;
	top:20px;
	background:rgba(255, 255, 255, .7);
	border:1px solid #000;
	border-radius:5px;
}
.fm-dialog>h2{
	background:rgba(255, 255, 255, .7);
	margin-top:0;
	border-bottom:1px solid #000;
}
.fm-dialog .fm-action-buttons{
	text-align:center;
}
.fm-dialog .fm-action-buttons button{
	margin:2px 10px;
}

.ui-dialog{
	z-index:1000 !important;
}
html body .ui-widget button.ui-dialog-titlebar-close{
	font-size:0
}
html body .ui-widget-shadow.ui-tooltip{opacity:1}
